<div id="coords-panel" data-follow="false" data-lock="false" style="display:none;position:absolute;font-size:medium;bottom:12px;right:20px;width:15%;height:15px;opacity:0.75;background-color:#333;border-style:solid;border-width:1px;border-color:#000;border-radius:2px;padding:4px;color:#fff;overflow:hidden;white-space:nowrap;">

  <div style="display:inline-block;width:1%;"></div>
  <div id="coords-lat" style="display:inline-block;width:50%;overflow:hidden;">Lat:</div>
  <div style="display:inline-block;width:1%;"></div>
  <div id="coords-lon" style="display:inline-block;width:50%;overflow:hidden;">Lon:</div>

</div>

