<div id="measure-detail" style="display:none;position:absolute;font-size:large;bottom:12px;left:50px;width:60%;height:20px;opacity:0.75;background-color:#333;border-style:solid;border-width:1px;border-color:#000;border-radius:2px;padding:4px;color:#fff;overflow:hidden;white-space:nowrap;">

  <div style="display:inline-block;width:1%;"></div>
  <div id="measure-label" style="display:inline-block;width:16%;overflow:hidden;">Measure</div>
  <div style="display:inline-block;width:1%;"></div>
  <div id="measure-tim" style="display:inline-block;width:21%;overflow:hidden;">Time</div>
  <div style="display:inline-block;width:1%;"></div>
  <div id="measure-dst" style="display:inline-block;width:24%;overflow:hidden;">Dist</div>
  <div style="display:inline-block;width:1%;"></div>
  <div id="measure-ele" style="display:inline-block;width:15%;overflow:hidden;">Ele</div>
  <div style="display:inline-block;width:1%;"></div>
  <div id="measure-spd" style="display:inline-block;width:12%;overflow:hidden;text-align:right">Speed</div>

</div>

