<div id="point-detail" style="position:absolute;font-size:large;top:12px;left:50px;width:60%;height:20px;opacity:0.75;background-color:#333;border-style:solid;border-width:1px;border-color:#000;border-radius:2px;padding:4px;color:#fff;overflow:hidden;white-space:nowrap;">

  <div style="display:inline-block;width:1%;"></div>
  <div id="point-tim" style="display:inline-block;width:16%;overflow:hidden;">Time</div>
  <div style="display:inline-block;width:1%;"></div>
  <div id="point-lat" style="display:inline-block;width:21%;overflow:hidden;">Lat</div>
  <div style="display:inline-block;width:1%;"></div>
  <div id="point-lon" style="display:inline-block;width:25%;overflow:hidden;">Lon</div>
  <div style="display:inline-block;width:1%;"></div>
  <div id="point-ele" style="display:inline-block;width:14%;overflow:hidden;">Ele</div>
  <div style="display:inline-block;width:1%;"></div>
  <div id="point-spd" style="display:inline-block;width:12%;overflow:hidden;text-align:right">Speed</div>

</div>

